
body {
    margin: 2;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bdbdf1;
    color: #58ccbd9f;
}

nav {
    background: #e2afe4;
    padding: 12px;
    text-align: center;
}

nav a {
    color: #dbeafe;
    text-decoration: none;
    margin: 0 12px;
}

nav a:hover {
    color: #e9a5a5;
}


main {
    max-width: 900px;
    margin: 24px auto;
    padding: 0 16px;
}


input, 
textarea, 
button {
    font: inherit;
}